<h1>{{title}}</h1>
<p>Welcome to the Space Junk Tracker portal. This is the main dashboard where you will find an overview of the current space situation.</p>

<div id="dashboard">
    <div id="main-stats"></div>
    <div id="alerts"></div>
    <div id="reentry-map"></div>
</div>
